
.flex{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.button{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.container-media{
  display: flex;
    margin-top: 20px;
    flex-direction: column;
.bloc {
    background-color: #99E2D0;
    width: 95%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 2px 2px 10px #b8b8b8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    &:hover{
      font-size: 13px;
      transition: 600ms;
    } 
  }
    .bloc .icon {
        position: relative;
        order: 2;
        right: -25px;
        top: 30px;
        font-size: 1.5em;
        width: 0px; }
      .bloc .icon span {
        display: block;
       color: white;
        transition: transform 10000ms ease-in-out; }
        
    .bloc .texte {
      width: 100%;
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      background-color: white;
      padding: 10px 20px 10px 10px;
      order: 1;
      transition: width 500ms;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal; }
      .bloc .texte:hover {
        width: 74%;
        
     }
      .bloc .texte .prix {
        width: 30px;
        padding-top: 25px;
        white-space: nowrap;
        margin-left: 10px; }
      .bloc .texte .menu {
        white-space: nowrap;
        overflow: hidden; }
        font-size: 15px;
      }
    