@media screen and (min-width: 770px) and (max-width:2560px){
   .header{
    display: flex;
    justify-content: center;
    .container-img{
        width: 50%;
    }
   }

 .media-titre{
    display: flex;
    justify-content: center;
    width: 100%;
 .margin-top{
    width: 50%;
 }
}
 .container-media{
     display: flex;
     margin-top: 20px;
     flex-direction: row;
 }

    .bloc-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    }
 .container-header{
    display: flex;
    align-items: center;
     .img-forme{
         width: 100%;
     }
 }
 .bloc-bottom2{
     .bottom2{
         width: 40%;
     }
 }
 }
 @media screen and (max-width: 330px) {

h3{
    font-size: 1em;
}
p{
    font-size: 0.9em;
}

 }