@media screen and (min-width: 430px) and (max-width: 1024px){
    .container-section{
    width: 100%;
    display: flex;
    /* align-items: flex-end; */
    justify-content: center;
    flex-wrap: wrap;
}
.container1 .container2{
    width: 60%;
}
.container3{
    width: 70%;
}


}